Flask==0.10.1
Flask-RESTful==0.2.12
Flask-SQLAlchemy==1.0
Flask-Testing==0.4.1
Jinja2==2.7.2
MarkupSafe==0.23
Pairtree==0.5.8
Pygments==1.6
SPARQLWrapper==1.5.2
SQLAlchemy==0.9.4
Sphinx==1.2.2
Werkzeug==0.9.4
aniso8601==0.82
argparse==1.2.1
ckanapi==3.2
distribute==0.6.24
docopt==0.6.1
docutils==0.11
html5lib==0.999
isodate==0.5.0
itsdangerous==0.24
mysql-connector-python==1.1.6
pyparsing==2.0.2
pytz==2014.2
rdflib==4.1.2
requests==2.2.1
sh==1.09
simplejson==3.4.1
wsgiref==0.1.2
xlrd==0.9.3
